<div class="album text-muted">
  <div class="container">

    <div class="row">
      <!--<%= link_to "Create New Item", new_portfolio_path if logged_in?(:site_admin) %>-->
      
      <%= render partial: 'portfolio_item', collection: @portfolio_items %>
    </div>
    
  </div>
</div>




<!--
<a href="portfolios/new">Create New Item</a> <br>
<p>Portfolio Path (relative path):<br>
  <%= new_portfolio_path %>
</p>
<p>Portfolio URL:<br>
  <%= new_portfolio_url %>
</p>
-->
