<h1>Portfolio Items</h1>

<!--
<a href="portfolios/new">Create New Item</a> <br>
<p>Portfolio Path (relative path):<br>
  <%= new_portfolio_path %>
</p>
<p>Portfolio URL:<br>
  <%= new_portfolio_url %>
</p>
-->

<%= link_to "Create New Item", new_portfolio_path %>
<hr>

<%= render partial: 'portfolio_item', collection: @portfolio_items %>
