<div class="blog-header">
  <div class="container">
    <h1 class="blog-title">Adventures in Coding</h1>
    <p class="lead blog-description">The blog of Marissa Angell.</p>
    <% if logged_in?(:site_admin) %>
      <span>
        <%= link_to 'Write a New Blog', new_blog_path %> |
      </span>
    <% end %>
    <span>
      <%= link_to 'Topics', topics_path %>
    </span>
  </div>
</div>