<div class="app-card-container">
  <div class="card">
    <div class="row">
      
      <div class="col-md-4">
        <!--<img src="http://via.placeholder.com/350x450" alt="Profile Image" width="300">-->
        <%= image_tag "MarissaAngell.JPG", width: 300, alt: "profile image", class: "profile-image" %>
      </div>
      
      <div class="col-md-8">
        <h1>About Me</h1>
        <p>From an early age, I have always been interested in computers. I started learning how to program in 7th grade on my own, and once I reached 9th grade I was able to take my first real programming class. In 10th grade, I was lucky enough to take my high school's only AP Computer Science course, and ended up passing the class with flying colors.</p>
        <p>Since then, I have utilized resources outside of my school in order to learn more about programming. Currently I am using Pluralsight to learn about Java development, and in the past I have done a Ruby on Rails bootcamp.</p>
      </div>
      
    </div>
  </div>
</div>





