<div class="inner cover">
  <h1 class="cover-heading">Welcome!</h1>
  <p class="lead">My name is Marissa Angell, and I am an aspiring Software Developer. This website is a showcase of some of my projects and skills.</p>
  <p class="lead">
    <%= link_to "About Me", about_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>
